<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FileFormatWavefront" version="1.0.3.0" targetFramework="net4" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net4" />
  <package id="SharpGL" version="2.4.0.0" targetFramework="net4" />
  <package id="SharpGL.WinForms" version="2.4.0.0" targetFramework="net4" />
  <package id="SharpGLCore" version="2.4.0.0" targetFramework="net4" />
</packages>